@font-face {
  font-family: DINWeb-Light;
  src: url("../fonts/DINWeb-Light.eot");
}

@font-face {
  font-family: DINWeb;
  src: url("../fonts/DINWeb.eot");
}

@font-face {
  font-family: DINWeb-Cond;
  src: url("../fonts/DINWeb-Cond.eot");
}

@font-face {
  font-family: DINWeb-CondLight;
  src: url("../fonts/DINWeb-CondLight.eot");
}

@font-face {
  font-family: DINWeb-Medium;
  src: url("../fonts/DINWeb-Medium.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Light;
  src: url("../fonts/DINWeb-Light.woff") format("woff");
}

@font-face {
  font-family: DINWeb;
  src: url("../fonts/DINWeb.woff") format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  src: url("../fonts/DINWeb-Cond.woff");
}

@font-face {
  font-family: DINWeb-CondLight;
  src: url("../fonts/DINWeb-CondLight.woff");
}

@font-face {
  font-family: DINWeb-Medium;
  src: url("../fonts/DINWeb-Medium.eot") format("woff");
}

@font-face {
  font-family: DIN-Medium;
  src: url("../fonts/DIN-Medium.otf");
}

@font-face {
  font-family: DIN-Medium;
  src: url("../fonts/DIN-Medium.ttf");
}