$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";

body {
  background: $green-light;

  .container{
    background: url('../images/xmas-bg-dummy.png') no-repeat center;
    .animations {
      .welcome {
        h3 {
          position: relative;
          float: left;
          left: 50%;
        }
      }
      img {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    min-width: 730px;
  }
}