$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "fonts";

body {
  background: $green-light;

  .container{
    background: url('../images/xmas-bg-dummy.png') no-repeat center;
    .animations {
      .welcome {
        background: url('../images/gifs/xmas-dummy_01.gif') no-repeat center;
        width: 500px;
        height: 500px;
        margin: 0 auto;
        h3 {
          position: relative;
          top: 170px;
          font-size: 41px;
          text-transform: uppercase;
          color: $white;
          margin: auto auto;
          text-align: center;
          font-family: DIN-Medium;
        }
      }
      img {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    min-width: 730px;
  }
}