.animations {
  div {
    img {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      display: block;
    }
  }
}
.container{
  background: url('../images/xmas-bg-dummy.png') no-repeat center;
}

h3 {
	position: relative;
	float: left;
	left: 50%;
}